<!DOCTYPE html>
<html lang="en" class="dark-theme">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DevBatista</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!--favicon-->
	<link rel="icon" href="<%= asset_path('favicon-32x32.png') %>" type="image/png"/>
	<!--plugins-->
	<link href="<%= asset_path('plugins/vectormap/jquery-jvectormap-2.0.2.css') %>" rel="stylesheet"/>
	<link href="<%= asset_path('plugins/simplebar/css/simplebar.css') %>" rel="stylesheet" />
	<link href="<%= asset_path('plugins/perfect-scrollbar/css/perfect-scrollbar.css') %>" rel="stylesheet" />
	<link href="<%= asset_path('plugins/metismenu/css/metisMenu.min.css') %>" rel="stylesheet"/>
	<!-- loader-->
	<link href="<%= asset_path('css/pace.min.css') %>" rel="stylesheet"/>
	<script src="<%= asset_path('js/pace.min.js') %>"></script>
	<!-- Bootstrap CSS -->
	<link href="<%= asset_path('css/bootstrap.min.css') %>" rel="stylesheet">
	<link href="<%= asset_path('css/bootstrap-extended.css') %>" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<link href="<%= asset_path('css/app.css') %>" rel="stylesheet">
	<link href="<%= asset_path('css/icons.css') %>" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="<%= asset_path('css/dark-theme.css') %>"/>
	<link rel="stylesheet" href="<%= asset_path('css/semi-dark.css') %>"/>
	<link rel="stylesheet" href="<%= asset_path('css/header-colors.css') %>"/>
</head>
<body>
	<div class="wrapper">
		<%= yield %>
	</div>
</body>
</html>